<h2><%= @package.name %> <%= resource.state != 'approved' ? "(#{resource.state})" : '' %> | <%= link_to 'deb info', package_path(@package) %></h2>
<% if resource.state != 'approved' && @package.maintainers.include?(current_user) %>
  <%= link_to 'Approve', approve_package_variant_path(@package, resource), :method => :put %> | <%= link_to 'Decline', decline_package_variant_path(@package, resource), :method => :put %>
<% end %>
<div><%= render :partial => 'variants/suggest_add', :locals => { :package => @package} %></div>
<div>platform <strong><%= resource.platform %></strong>, arch <strong><%= resource.arch %></strong></div>
<strong>Depends:</strong> <%= resource.depends.map { |v| v.for_list } * ', ' %><br/>


Scripts:

<% resource.control_hooks.each do |control_hook| %>
<div>
  <strong><%= control_hook.name %></strong>
  <div><pre><code><%= control_hook.content %></code></pre></div>
</div>
<% end %>
